{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}Persona{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-left">Eliminar</h4>
    </div>
    <div class="panel-body">
      <form method="post">
        {% csrf_token %}
        <p>¿Estás seguro que deseas eliminar los datos de la Persona "{{ object }}"?</p>
        <div class="box-footer text-right">
          <a href="{% url 'user:person_list' %}" class="btn btn-primary btn-sm">Atrás</a>
          <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
