{% extends 'base.template.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Grupo Familiar' %}{% endblock %}
{% block contenido %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-left">Eliminar</h4>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <p>¿Estás seguro que deseas eliminar los datos del Grupo Familiar "{{ object.apellido_familia }}-{{ object.id }}"?</p>
                <div class="box-footer text-right">
                    <a href="{% url 'grupo_familiar_listar' %}" class="btn btn-primary btn-sm">Atrás</a>
                    <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip">{% trans 'Eliminar' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
