{% extends 'base.template.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Grupo Familiar' %}{% endblock %}
{% block contenido %}
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="text-left">Listar <a href="{% url 'grupo_familiar_registrar' %}" class="btn btn-success btn-sm pull-right">Registrar</a></h4>
      </div>

        <div class="panel-body">
            <div class="row box-body table-responsive">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-striped table-hover table-bordered display dataTable" id="tabla-grupo-familiar" style="width:1750px;">
                        <thead>
                            <tr>
                                <th>Vivienda</th>
                                <th>Apellido de la Familia</th>
                                <th>¿La Familia ha sido beneficiada por el CLAP?</th>
                                <th>Tipo de Tenencia</th>
                                <th> Tiempo de Alquiler (Meses) </th>
                                <th>¿Cree Ud. que se deba consultar a las comunidades para los precios del pasaje?</th>
                                <th>Observación</th>
                                <th>Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for grupo_familiar in object_list %}
                                <tr>
                                <td> {{ grupo_familiar.vivienda.numero_vivienda }}-{{ grupo_familiar.vivienda.id }} </td>
                                <td> {{ grupo_familiar.apellido_familia }}-{{ grupo_familiar.id }} </td>

                                {% if grupo_familiar.familia_beneficiada %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                {% if grupo_familiar.tenencia == 'AL' %}
                                    <td> {{ grupo_familiar.get_tenencia_display }} </td>
                                    <td> {{ grupo_familiar.alquilada }} </td>
                                {% else %}
                                    <td> {{ grupo_familiar.get_tenencia_display }} </td>
                                    <td> </td>
                                {% endif %}

                                {% if grupo_familiar.pasaje %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                <td> {{ grupo_familiar.observacion }} </td>

                                <td> <a href="{% url 'grupo_familiar_actualizar' grupo_familiar.id %}" data-toggle="tooltip" title="Actualizar"><i class="fa fa-pencil"></i></a> <a href="{% url 'grupo_familiar_eliminar' grupo_familiar.id %}" data-toggle="tooltip" title="Eliminar"><i class="fa fa-remove"></i></a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            var tabla= $('#tabla-grupo-familiar').DataTable({
              "autoWidth": false,
              "columnDefs": [
                  { "width": "200px", "targets": 0 },
                  { "width": "200px", "targets": 1 },
                  { "width": "200px", "targets": 2 },
                  { "width": "200px", "targets": 3 },
                  { "width": "200px", "targets": 4 },
                  { "width": "350px", "targets": 5 },
                  { "width": "300px", "targets": 6 },
                  { "width": "100px", "targets": 7 },
              ],
            });

            inicializar_boton_datatable(tabla);
        });
    </script>
{% endblock %}
