{% extends 'base.template.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Usuario' %}{% endblock %}
{% block contenido %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-left">{% trans 'Registrar Líder de Calle' %}</h4>
        </div>
        <div class="panel-body">
	        <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
                {% csrf_token %}

                {% include 'usuario.registrar.html' %}

                <div class="text-right">
                    <a href="{% url 'street_leader_list' %}" class="btn btn-primary btn-sm">{% trans 'Atrás' %}</a>
                    <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Limpiar' %}</button>
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Registrar' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}